    
    <body> 
    <div>
        <h1 style="text-align: center;">Bienvenue sur votre nouvelle pharmacie en ligne </h1>
            <p style="text-align: center;">Nous avons tout simplifier afin que votre visite sur ce site sois des plus agréable,
            nous espérons que ce site vous sera utile. A très bientot !
            </p> <br/>
    <table style="margin-left: 115px;">
    
    
        
        <div class="card" style="max-width: 500px;">
            <img [src]="myimage" class="card-img-top" style="padding-bottom:36px;">
                <div class="card-body">
                    <h3 class="card-title" style="text-align: center;">Accès médicaments </h3>
                    <p class="card-text" style="padding-bottom:7px; text-align: center;">
                         Vous aurez accès à la liste des medicaments que nous avons en reserve.
                         Nos équipes s'atelent chaque jour à faire des mises à jour en fonction de notre stock, concernant 
                         les aspects disponibilité du produit et date de perantion.<br/><br/><br/>
                         <a href="articlecomponentpath" class="btn btn-primary">Aller aux médicaments !</a>
                    </p>
                    
                </div>
        </div>
        <br/>
    
        <div class="card" style="max-width: 500px;">
            <img [src]="myimage2"  class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title" style="text-align: center;">Soumettre mon ordonance</h3>
                    <p class="card-text" style="text-align: center;">De plus en plus de personne ne savent pas correctement utiliser l'outil internet.
                         Pour y palier nous avons essayé de vous permettre de soumettre votre ordonance au format pdf,
                         en remplissant le formlaire prevu à cet effet.<br/><br/>
                         <a href="ordonancecomponentpath" class="btn btn-primary">Je soummet mon ordonance !</a>
                    </p>
                    
                </div>
        </div>
        <br/>
    
    
    
        <div class="card" style="max-width: 500px;margin-left:285px;">
            <img [src]="myimage3"  class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title" style="text-align: center;">Prendre rendez-vous avec un pharmacien</h3>
                        <p class="card-text" style="text-align: center; padding-bottom:72px;">Inscrivez vous dans notre liste d'attente, un de nos pharmaciens
                             vous appelera et vous orientera dès que la ligne sera disponible.<br/><br/>
                             <a href="rdvcomponentpath" class="btn btn-primary">Je prends rendez-vous !</a>
                        </p>
                        
                </div>
        </div>
    
    </table>
    </div> 
    
    
    <br/><br/><br/><br/><br/><br/>
    
    </body>
    
    
       
       
                
                
    
               
                  
                        
                    
    
                    
                    
                        
                       
    
    
    
               
            
            
       
    
