<table class="table">
    <thead>
        <tr>
            
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let article of articles">
            <td>{{ article.name }}</td>
            <td>{{ article.price }}</td>
            <td>{{ article.description }}</td>
            <td><img style="max-width:100px;"src="{{'http://127.0.0.1:8000/api/article/image/'+article.articleimage}}"></td>
            <td><button class="btn btn-danger btn-sm" >ajouter au panier</button></td>
        </tr>
    </tbody>
</table>

