<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>  
        <br/><br/>
        <a href="" class="btn btn-danger">Passez ma commande</a>
        <br/>
        <br/>Vous avez un compte orange et vous voulez
        <br/>payer par orange money.
        <br/>Cliquez sur payer en avance, vous verez que c'est facile !
        <br/><br/>
        <a href="paiementeffectuecomponentpath" class="btn btn-success">Payez en avance</a>
        <br/><br/>
    </p>
</body>
</html>
