<br/>
<style>
form
{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

p
{
    text-align: center;
}

div 
{
    text-align: left;
}

body
{
    margin-left: 150px;
    margin-right: 150px;
}


</style>

<body> 
   

<form (ngSubmit)="insertData()">
    <h4>En remplissant ce formulaire vous pourrez nous soumettre votre ordonance</h4> 
    <br/>
    <div class="form-group">
        <label for="name">Inserez votre nom</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="ordonance.name">
    </div><br/>

    <div class="form-group">
        <label for="surname">Inserez votre prénom</label>
        <input type="text" name="surname" class="form-control" [(ngModel)]="ordonance.surname">
    </div><br/>

    <div class="form-group">
        <label for="adressemail">Inserez votre adresse mail</label>
        <input type="email" name="adressemail" class="form-control" [(ngModel)]="ordonance.adressemail">
    </div><br/>

    <div class="form-group">
        <label for="telephone">Inserez votre numeros de telephone</label>
        <input type="number" name="telephone" class="form-control" placeholder="Mettez sous le format XXXXXXXX s'il vous plait" [(ngModel)]="ordonance.telephone">
    </div><br/>

    <div class="form-group">
        <label for="name"> Inserez le contenu de votre ordonance</label><br/>
        <textarea  name="contenu" class="form-control" [(ngModel)]="ordonance.contenu"
        rows="5" cols="87"></textarea>                                
    </div><br/>

    <div style="text-align: center;"><button class='btn btn-dark btn-sn mt-4'>Je depose mon ordonance</button><br/></div>
</form>


<br/><br/><br/><br/>
<br/><br/><br/><br/>

</body>

